<div id="main-container">
    <span id="welcome-message">{{welcomeMessage}}</span>
    <table id="table" cellspacing="0">
        <tr id="row" *ngFor="let schoolClass of teacherSchoolClasses ">
            <td class="subject-td"> {{schoolClass.subject.name}}</td>
            <td class="schedule-col" >
                {{schoolClass.schedule.start}} - 
                {{schoolClass.schedule.end}}
            </td>      
            <td class="link-col">
                <a (click)="getCallList(schoolClass)">
                    <u>Pasar lista</u>
                </a>
            </td>
        </tr>
    </table>
    <div id="error-message">{{errorMessage}}</div>
</div>

