#main-container{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    font-weight: bold;
}

#welcome-message{    
    font-size: 1.3em;  
}

table{
    margin-top: 15px;
    width: 100%; 
}

tr{  
    width: 100%;
    height: 40px;
    background: #FFF; 
}

tr:nth-child(even) {
    background: #CCC
}

td{
    font-size: 1em;   
}
.subject-col{
    width: 60%;
    text-align: left;
}

.schedule-col{
    width: 15%;  
    text-align: center;
}

.link-col{
    width: 25%;
    text-align: center;
}

a{
    color: var(--main-color);
    cursor: pointer;
}

#error-message{
    color: var(--main-color);
    text-align: center;
    margin-top: 50px;
}



/* Estilo para smartphone orientación portrait */
@media only screen and (max-width: 768px) {

    #main-container{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;  
    }

    #welcome-message{    
        font-size: 1.2em;  
    }
    tr{
        height: 50px;
    }
  
}

