/* You can add global styles to this file, and also import other style files */

/* VARIABLES */
:root {
    --main-color: rgb(118, 1, 12);
  }

/* ESTILO DE ETIQUETAS */

button{
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;

  padding:0.5em 1em 0.5em 1em; 
  border-radius: 0.5em;
}

button:hover{
  cursor:pointer ;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
  color: rgb(17, 17, 25);
  font-weight: bold;
  
}

/* CLASES */


/* FORMULARIOS ANGULAR MATERIAL */

/* Color del label */
.mat-form-field-label{
  color: var(--main-color) !important;
  font-weight: bold  !important;
}

.mat-dialog-container {
  overflow: hidden !important;
  border-radius: 5px !important;
  padding: 0px !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--main-color) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif, "Helvetica Neue", sans-serif; }
